Domain {$name} ({(grep {$_ eq 'NEW'} @change)?"new domain":join(", ",@change)." changed"}):
{$error} errors and {$critical} critical problems.
    {
        foreach(sort keys %result){
            $OUT .= $result{$_}{formatted};
            $OUT .= "\n    ";
        }
    }
Test URL: http://dnscheck.iis.se/?time={time_t}&id={test_id}&view=basic&lang=
